<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/cafestyled.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>구분</th>
            <th>음료</th>
            <th>가격</th>
            <th>이미지</th>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">커피류</td>
                <td>아메리카노</td>
                <td>4500원</td>
                <td><img src="../image/아메리카노.jpeg" alt=""></td>
            </tr>
            <tr>
                <td>돌체라때</td>
                <td>4000원</td>
                <td><img src="../image/돌체라떼.jpeg" alt=""></td>
            </tr>
            <tr>
                <td rowspan="2">프라푸치노</td>
                <td>자바칩 프라푸치노</td>
                <td rowspan="2">5000원</td>
                <td><img src="../image/자바칩.jpeg" alt=""></td>
            </tr>
            <tr>
                <td>녹차프라프치노</td>
                <td><img src="../image/녹차.jpeg" alt=""></td>
            </tr>

        </tbody>
    </table>
    
</body>
</html>