table{
    width: 500px;
    border: 2px solid black;
    border-collapse: collapse;
}
th,td{
    border: 2px solid black;
    text-align: center;
}
th{
    padding-top: 3%;
    padding-bottom: 3%;
}
td{

    padding-top: 3%;
    padding-bottom: 3%;
    
}
img{
    width: 100px;
    height: 100px;

}