<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      margin: 0;
      height: 2000px;
    }
    .box{
      width: 100px;
      height: 100px;
    }
    .red{
      background-color: red;
    }
    .green{
      background-color: green;
      /* position: absolute; */
      /* position: relative; */
      left: 100px;
      top: 100px;
    }
    .blue{
      background-color: blue;
      position: fixed;
      left: 100px;
      top: 100px;
    }
  </style>
</head>
<body>
  <div class="box red"></div>
  <div class="box green"></div>
  <div class="box blue"></div>
</body>
</html>