@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul li{
    list-style: none;
}
#container{
    width: 100%;
    margin: 0 auto;
}
header{
    height: 80px;

    background-color: rgb(1, 1, 243);
}
header #logo{
    width: 25%;
    float: left;
    line-height: 80px;
    padding-left: 10%;
}
header #logo h1 a{
    color: skyblue;
}
header #logo h1 a:hover{
    color: #f2f2f2
}

header nav{
    width: 65%;
    height: 80px;
    float: right;
}
header nav li{
    float: right;
    line-height: 80px;
}
header nav ul li:hover{
    background-color: skyblue;
}

header nav ul li a{
    display: block;
    padding: 0 30px;
}

#contents h1{
    text-align: center;
    margin:10px
}
#contents table{
    width: 700px;
    border: 2px solid #ccc;
    border-collapse: collapse;
    margin: 30px auto;


}

#contents table th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#contents table thead{
    background-color: #eee;
}

#contents table tr td:nth-of-type(2){
    text-align: left;
}
footer{
    border-top: 2px solid black;
    width: 100%;
}

footer ul{
    margin: 0 30px;
}

footer ul li{
    float: left;
    padding: 0 10px;
    margin: 10px 0;
    border-right: 1px solid #333;
}