h2{
    padding-left: 20px;
    text-align: center;
}
form{
    width: 400px;
    margin: 0 auto;
    
}
label{
    display: inline;
    margin-right: 20px;
}
ul li {
    list-style: none;
    margin: 20px ;
}
button{
    margin-top: 10px;
}