<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      margin: 0;
    }
    ul{
      list-style: none;
    }
    ul li{
      display: inline-block;
      margin: 10px;
      padding: 5px 10px;
      border-top: 2px solid #aaa;
    }
    ul li:hover{
      background-color: #eee;
    }
    ul li a{text-decoration: none;}
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="#">한국음식</a></li>
      <li><a href="#">중국음식</a></li>
      <li><a href="#">일본음식</a></li>
      <li><a href="#">분식</a></li>
    </ul>
  </nav>
  <h3>메뉴판</h3>
</body>
</html>