<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/menu.css">
</head>
<body>
  <div id="container">
    <header>
      <nav>
        <ul>
          <li><a href="#">한국요리</a></li>
          <li><a href="#">중국요리</a></li>
          <li><a href="#">일본요리</a></li>
          <li><a href="#">분식</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <h2>요리의 세계</h2>
    </section>
  </div>
</body>
</html>