@charset "utf-8";
/* 공통 스타일 */
*{margin: 0; padding: 0; box-sizing: border-box;}
#container{width: 100%;}

:root{
  --text-color: rgb(237, 237, 237);
}
body{margin: 0}
a{
  text-decoration: none; 
  color: var(--text-color);
}

/* PC 기준 */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
}
.navbar_logo{
  font-size: 24px;
  padding-left: 12px;
}
.navbar_menu{
  display: flex;
  list-style: none;
  margin-right: 15%;
  padding-left: 0;
}
.navbar_menu li{padding: 8px 12px;}
.navbar_menu li:hover{
  background-color: rgb(2, 174, 222);
  border-radius: 4px;
}
.navbar_toggleBtn{
  position: absolute;
  right: 30px;
  font-size: 24px;
  display: none;
}

/* section 영역 */
section{height: 350px; padding: 15px 5%}
section:nth-of-type(2n){background: #eee;}
section .page-title{margin: 20px 0;}
section p{line-height: 3;}
section .content .photo{display: block;}
#intro .photo, #map .photo{float:left; margin-right: 20px;}
  #choice .photo{float: right; margin-right: 50px;}
#choice .content h2{margin-bottom: 20px;}
#choice .content ol{padding-left: 30px;}
#choice .content ol li{line-height: 2;}

/* footer 스타일 */
footer{height: 80px; border-top: 2px solid #222;}
#bottom-menu{list-style: none; margin: 10px 10px 10px 40px;}
#bottom-menu li{display: inline-block; margin: 10px 0;
  padding: 0 10px; border-right: 1px solid #ccc;}
#bottom-menu li a{text-decoration: none; color: #444;}
#bottom-menu li:last-child{border: none;}

/* 모바일 기준 - 768px 미만 */
@media screen and (max-width: 768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar_menu{
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }
  .navbar_menu li{
    width: 100%;
    text-align: center;
  }
  .navbar_toggleBtn{display: block;}
  .navbar_menu.active{display: flex;}

  section{height: 320px; padding: 15px 5%}
  section .content .photo{display: none;}
}