@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #f1f1f1;
}
ul li{
    list-style: none;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    height: 80px;
    background-color: rgb(1, 1, 243);
}
header #logo{
    width: 250px;
    float: left;
    line-height: 80px;
    padding-left: 30px;
}
header #logo h1 a{
    color: skyblue;
}
header #logo h1 a:hover{
    color: #f2f2f2
}

header nav{
    width: 700px;
    height: 80px;
    float: right;
}
header nav li{
    float: left;
    line-height: 80px;
}
header nav ul li:hover{
    background-color: skyblue;
}
header nav ul li a{
    display: block;
    padding: 0 30px;
}