@charset "utf-8";

#container{
    width: 1200px;
    margin: 0 auto;

}
.contents{
    width: 400px;
    margin: 0 auto;
    border:1px solid #ccc ;
    padding: 20px;
    border-radius: 5px;
}
.contents :first-child{
    color: red;
}
.contents :nth-child(3){
    background-color: #0f0;
}
.contents p:nth-of-type(3){
    background-color: #ff0;
}
.contents :last-child{
    color: blue;
}