*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #f1f1f1;
}
ul li{
    list-style: none;
}
header .navbar{
    display: flex;
    flex-direction: column;
    background-color: blue;
}

header .navbar_logo{
    font-size: 24px;
    padding-left: 20px;
}

header .navbar_logo a:hover{
    color: skyblue;
}

header .navbar_menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}
header .navbar_menu li{
    text-align: center;
    padding: 10px;
}
header .navbar_menu li:hover{
    background-color: skyblue;
    border-radius: 4px;
}

@media screen and (min-width:768px){
    header .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    header .navbar_menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 150px;
    }
    header .navbar_menu li{
        padding: 16px 24px;
    }
}