*{margin: 0; padding: 0}

#container{
  width: 100%;
  margin: 0 auto;
}
header{
  height: 80px;
  background: beige;
}
header #logo{
  width: 20%;
  height: 80px;
  float: left;
  line-height: 80px;
  padding-left: 30px;
}
header #logo h1 a{color: orange; text-decoration: none;}
header #logo h1 a:hover{color: rgb(211, 3, 3);}
nav{
  width: 70%;
  height: 80px;
  float: right;
  line-height: 80px;
}
nav ul{padding-left: 200px;}
nav ul li{
  list-style: none;
  float: left;
}
ul li a{
  text-decoration: none;
  display: block;
  padding: 0 30px;
  color: black;
}
ul li a:hover{
  background-color: rgb(148, 181, 1);
  color: white;
}
section{
  width: 80%;
  margin: 20px auto;
}